---
import HeadSEO from "../components/HeadSEO.astro";
import HeadCommon from "../components/HeadCommon.astro";
import Header from "../components/Header/Header.astro";
import { getTitle } from "../util";

import { collections } from "../content/config";
let data = collections.docs.schema!.parse({});
let currentPage = Astro.url.pathname;
let canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html dir={data.dir} lang={data.lang} class="initial">
	<head>
		<HeadCommon />
		<HeadSEO {...data} canonicalUrl={canonicalURL} />
		<title>{getTitle(data)}</title>
		<style>
			.layout {
				height: calc(100vh - var(--theme-navbar-height));
			}
			:global(#menu-toggle) {
				display: none;
			}
		</style>
	</head>

	<body>
		<Header currentPage={currentPage} />
		<main class="layout">
			<article>
				<slot />
			</article>
		</main>
	</body>
</html>
